{% assign labels_list = '' %}
{% if product.properties.stiker %}
  {% for characteristic in product.properties.stiker.characteristics %}
    {% capture main_stiker %}<div class="stiker stiker-{{ characteristic.handle }}">{{ characteristic.title }}</div>{% endcapture %}
    {% assign labels_list = labels_list | append: main_stiker %}
    {% assign main_stiker = null %}
  {% endfor %}
{% endif %}

{% if product.old_price %}
  {% if product.old_price > product.price %}
    {% assign discount = product.price | divided_by: product.old_price | times: -100 | plus: 100 | round: 0 %}
  {% endif %}
{% endif %}
{% assign product_variants_first = product.variants | where: "available" | first %}
<form class="card cards-col {{ card_prefix }}" action="{{ cart_url }}" method="post" data-product-id="{{ product.id }}">
  <div class="card-info">
    <div class="card-image">
      {{ labels_list }}
      {% if discount > 0 %}
        <div class="stiker stiker-sale">
           скидка {{ discount }}%
        </div>
      {% endif %}

        <a href="{{ product.url | add_param: 'variant_id', product_variants_first.id }}" class="image-inner">
          <div class="image-wraps">
            <span class="image-container is-square">
              <span class="image-flex-center">
                {% assign img_width = 320 %}
                {% assign product_img = product_variants_first.first_image | default: product.first_image %}
                <picture>
                  <source media="(min-width:769px)" data-srcset="{{ product_img | image_url: img_width, format: 'webp', resizing_type: 'fit_width' }}" type="image/webp" class="lazyload">
                  <source media="(max-width:480px)" data-srcset="{{ product_img | image_url: 480, format: 'webp', resizing_type: 'fit_width' }}" type="image/webp" class="lazyload">

                  <img data-src="{{ product_img | image_url: img_width, resizing_type: 'fit_width' }}" class="lazyload" alt="{{ img_title }}">
               </picture>

              </span>
            </span>
          </div>
        </a>
    </div>

    <div class="card-prices">
      {% if product.old_price %}
      <div class="card-old_price">
        {{product.old_price | money}}
      </div>
      {% endif %}
      <div class="card-price">
        {{product.price | money}}
      </div>
    </div>

    <div class="card-title">
      <a href="{{ product.url | add_param: 'variant_id', product_variants_first.id }}">
        {{ product.title }}
      </a>
    </div>

    <div class="card-quick">
      <a href="{{ product.url | add_param: 'variant_id', product_variants_first.id }}" data-quick-view="{{ product.id }}">
        Быстрый просмотр
      </a>
    </div>
  </div>

  <div class="card-action show-flex flex-bottom">
    <div data-quantity class="hidden">
      <input type="hidden" name="quantity" value="1" />
    </div>
    <input type="hidden" name="variant_id" value="{{product.variants.first.id}}" >

    <div class="row flex-between flex-middle">
      {% if product.variants.size > 1 %}
        <a href="{{ product.url | add_param: 'variant_id', product_variants_first.id }}" class="bttn-prim">
          Подробнее
        </a>
        {% else %}
        <a href="{{ product.url | add_param: 'variant_id', product_variants_first.id }}" class="bttn-prim" data-item-add>
          в корзину
        </a>
      {% endif %}

      <button type="button" class="bttn-favorite" data-favorites-trigger="{{ product.id }}">
      </button>

      {% unless product.is_bundle and account.enable_comparison? == false %}
        <button class="bttn-compares is-bg" data-compares-trigger="{{ product.id }}">
        </button>
      {% endunless %}
    </div>
  </div>
</form>
{% assign labels_list = nil %}
{% assign discount = nil %}
{% assign prefix_products = nil %}
