{% if block_lists.promo-slider.blocks.size > 0 %}
  <div class="promo-slider-wrapper">
    <div class="promo-slider swiper-container">
      <div class="swiper-wrapper">

        {% for slide in block_lists.promo-slider.blocks %}
          <div class="promo-slide swiper-slide">
            {% assign tag = 'div' %}
            {% assign attr = '' %}
            {% if slide.link.size > 0 %}
              {% assign tag = 'a' %}
              {% assign attr = 'href="' | append: slide.link | append: '"' %}
            {% endif %}

            <{{tag}} {{ attr }} class="slide-inner">

            {% if slide.image %}
            {% assign product_img = slide.image %}
            {% assign img_width = 1920 %}
            <picture>
              <source media="(min-width:769px)" srcset="{{ product_img | image_url: img_width, format: 'webp', resizing_type: 'fit_width' }}" type="image/webp">
              <source media="(max-width:480px)" srcset="{{ product_img | image_url: 480, format: 'webp', resizing_type: 'fit_width' }}" type="image/webp">

              <img src="{{ product_img | image_url: img_width, resizing_type: 'fit_width' }}">
           </picture>
            {% endif %}

              <div class="slide-absolute">
                <div class="container slide-content">
                  <div class="slide-title">
                    {{ slide.title }}
                  </div>
                  {% if slide.description and slide.description != '' %}
                    <div class="slide-description">{{ slide.description | editable }}</div>
                  {% endif %}
                </div>
              </div>

            </{{tag}}>
          </div>
        {% endfor %}
      </div>

      <div class="promo-slider-pagination swiper-pagination swiper-pagination-white"></div>

      <div class="promo-slider-prev swiper-button-prev swiper-button-white"></div>
      <div class="promo-slider-next swiper-button-next swiper-button-white"></div>
    </div>
  </div>
{% endif %}
